<article class="px-3 md:px-0">
    <div class="p-4 text-green-700 border rounded border-green-900/10 bg-green-50"role="alert">
    <strong class="text-sm font-medium"> 
        Success!  
    </strong>
    <p class="mt-1 text-xs">
        Your message has been delivered to the Blazed Labs LLC company. 
    </p>
    <ul class="mt-2">
        <li class="list-disc ml-5 pl-2"><a class="hover:underline" href="https://blazedlabs.com/">Blazed Labs</a></li>
        <li class="list-disc ml-5 pl-2"><a class="hover:underline" href="https://blazed.space/">Blazed Space</a></li>
    </ul>
    </div>

    <div class="mt-5">

        <a href="https://blz.one/" class="flex items-center justify-between px-5 py-3 text-indigo-600 transition-colors border border-current rounded-lg hover:bg-indigo-600 group active:bg-indigo-500 focus:outline-none focus:ring">
            <span class="font-medium transition-colors group-hover:text-white">
            Blazed One
            </span>
        
            <span class="flex-shrink-0 p-2 ml-4 bg-white border border-indigo-600 rounded-full group-active:border-indigo-500">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
            </span>
        </a>

    </div>

</article>