<div class="bg-gray-100">
    <div class="max-w-6xl px-6 py-8 mx-auto md:px-12">
        <div class="items-center -mx-6 md:flex md:-mx-12">
            <div class="w-full px-6 md:w-full md:px-12">
                <h2 class="text-2xl font-bold text-gray-900">
                    Get That Project Done
                </h2>
                <div class="flex mt-10">
                    <div>
                        <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"></path>
                        </svg>
                    </div>
                    <div class="mt-2 ml-4">
                        <div class="text-lg font-semibold">
                            Blazing fast turnover
                        </div>
                        <p class="mt-2 text-gray-700">
                            We have streamlined the development process, so your project gets done with less hiccups and no useless administrative hold-ups.
                        </p>
                    </div>
                </div>
                <div class="flex mt-10">
                    <div>
                        <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 10V3L4 14h7v7l9-11h-7z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 ml-4">
                        <div class="text-lg font-semibold">
                            Lightning Fast Speed
                        </div>
                        <p class="mt-2 text-gray-700">
                            Our website render <i>fast</i>; say goodbye to slow load time and inefficient clunky layouts. We make 'em <i>fast and usable</i>.
                        </p>
                    </div>
                </div>
                <div class="flex mt-10">
                    <div>
                        <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 ml-4">
                        <div class="text-lg font-semibold">
                            Fully Customizable
                        </div>
                        <p class="mt-2 text-gray-700">
                            Every element and component is customizable to fit the needs of your application. Maintenance and updates go off without a hitch.
                        </p>
                    </div>
                </div>
                <div class="mt-10 text-center">
                    <div class="inline-flex lg:inline-flex pt-5 pl-5 sm:pl-0">
                        <a href="/website" class="text-white py-2 px-4 rounded-lg bg-purple-700 hover:bg-purple-600 shadow-md font-medium mr-5 transition-colors">
                            Website Inquiry
                        </a>
                    </div>
                    <div class="inline-flex lg:inline-flex pt-5 pl-5 sm:pl-0">
                        <a href="/app" class="text-white py-2 px-4 rounded-lg bg-indigo-700 hover:bg-indigo-600 shadow-md font-medium transition-colors">
                            Application Inquiry
                        </a>
                    </div>
                    <div class="inline-flex pt-5 lg:inline-flex">
                        <a href="https://blazed.company/contact" class="text-white py-2 px-4 rounded-lg bg-gray-700 hover:bg-gray-600 shadow-md font-medium ml-5 transition-colors">
                            General/Legal Inquiry
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>